 <div id="control-wrap">
    <div id="header">
        <div id="logo" class="center"></div>
    </div>
    <div id="vid-wrap" class="center view-mode">
        <div id="vid-01" class="video" data-id={{vid1}} data-name={{name1}}></div>
        <div id="vid-02" class="video" data-id={{vid2}} data-name={{name2}}></div>
        <div id="vid-03" class="video" data-id={{vid3}} data-name={{name3}}></div>
        <div id="vid-04" class="video" data-id="-1" data-name="black screen"></div>
    </div>
    <div id="confirm-wrap" class="confirm-mode">
        <div id="message"></div>
        <div id="conf-btn-wrap">
            <div id="confirm" class="button left">confirm</div>
            <div id="cancel" class="button right">cancel</div>
        </div>
    </div>
    <div id="settings-wrap">
        
    </div>
    <div id="settings" class="view-mode"></div>
</div>

<script src="js/vendor/jquery-3.2.0.min.js"></script>
<script src="js/vendor/socket.io.js"></script>
<script src="js/main.js"></script>

